@media screen and (max-width:676px) {
    .nav-main {
        flex-direction: column;
        align-items: center;
    }

    .items-container,
    .banner-info {
        flex-direction: column;
    }

    .nav-container {
        width: 100%;
        justify-content: center;
    }

    .nav-container h2 {
        font-size: 21.543px;
        font-weight: 800;
    }

    .items-container a {
        gap: 5px;
    }

    .banner-section {
        max-width: 335px;
        background-position: center;
    }

    .banner-info {
        width: 287px;
    }

    .banner-heading {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .banner-description {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .banner-container {
        padding-top: 32px;
    }

    .tour-container {
        flex-direction: column;
        margin: 0 auto;
        padding-left: 40px;
        align-items: flex-start;
    }

    .tour-content h1 {
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .tour-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .tour-image {
        padding-left: 0;
        margin-top: 24px;
    }

    .tour-image img {
        width: 335px;
    }

    .destination-container {
        flex-direction: column;
    }

    .destination-container h1 {
        font-size: 20px;
        margin-top: 24px;
    }

    .photo-collage {
        padding-left: 40px;
    }

    .photo-collage img {
        width: 335px;
        height: 176px;
    }

    .card-main {
        flex-direction: column;
        padding-left: 40px;
    }

    .card-container {
        flex-direction: column;
    }

    .why-choose-us-container {
        margin-top: 24px;
    }

    .why-choose-us-container h1 {
        font-size: 20px;
    }

    .card-main {
        margin-bottom: 0px;
    }

    .card {
        width: 335px;
        height: 335px;
        margin-bottom: 16px;
    }

    .card h3 {
        font-size: 20px;
    }

    .card p {

        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 271px;
        /* 171.429% */
    }

    .newsletter-container {
        flex-direction: column;
    }

    .newsletter-info {
        width: 335px;
        height: 353px;
        margin-left: 40px;
    }

    .newsletter-info p{
        text-align: center;
    }

    .newsletter-info h3{
        margin-bottom: 0;
    }
    hr {
        width: 288px;
        height: 1px;
    }

    .img-container img {
        width: 400px;
        height: 335px;
    }

    .img-container {
        margin-top: 20px;
        margin-left: 20px;
    }

    .form-info {
        width: 288px;
        height: 52px;
    }

    .subscribe-btn {
        width: 288px;
        height: 52px;
        margin-bottom: 25px;
    }

    .inner {
        width: 214.023px;
        height: 79.268px;
    }

    .inner p {
        font-size: 16px;
    }

    .inner h2 {
        font-size: 24px;
    }
    .footer-container{
        margin-top: 10px;
    }
    .footer-container hr{
        width: 335px;
    }
}